.back {
    margin: 20px 0px;
}

.back a {
    color: #999999;
    font-size: 17.5px;
    font-weight: bold;
    text-decoration: none;
}

.back a:hover {
    color: black;
}

.blog-thumbnail img {
    display: block;
    margin: 20px auto;
    max-height: 100%;
    max-width: 100%;
    width: 500px;
}

.blog-content iframe {
    max-height: 100%;
    max-width: 100%;
}

.blog-content img {
    max-height: 100%;
    max-width: 100%;
    width: 500px;
}

.blog-content a {
    color: #3377cc;
    text-decoration: none;
}

.blog-content a:hover {
    color: #809aeb;
}